<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>CP_WEB_AZURE_BASED_SITE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AccountsServlet</display-name>
    <servlet-name>AccountsServlet</servlet-name>
    <servlet-class>tech.codecozy.app.AccountsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountsServlet</servlet-name>
    <url-pattern>/AccountsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeControllerServlet</display-name>
    <servlet-name>HomeControllerServlet</servlet-name>
    <servlet-class>tech.codecozy.app.HomeControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeControllerServlet</servlet-name>
    <url-pattern>/HomeControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchControllerServlet</display-name>
    <servlet-name>SearchControllerServlet</servlet-name>
    <servlet-class>tech.codecozy.app.SearchControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchControllerServlet</servlet-name>
    <url-pattern>/SearchControllerServlet</url-pattern>
  </servlet-mapping>
</web-app>